In [7]:
# 김시원, 박태준, 전선우, 정혜진, 강동원, 고묘정, 박은혜, 최가영, 최재영, 장민구

In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
df_ID = pd.read_csv('./data/student.csv')
df_data = pd.read_csv('./data/reading.csv')
df = pd.DataFrame()

In [7]:
df_ID

     Student ID                       Name
0     202422005                        김문정
1     202428012                        이건석
2     202422050                        류연수
3     202422064                        허대현
4     201811006                        강현성
..          ...                        ...
114   202411108                        이서진
115   202411126                        이지원
116   202462011                        신건우
117   202411045                        김태찬
118   202411183  Syed Muhammad Moosa Kazmi

[119 rows x 2 columns]

In [6]:
df_data

     Student ID               UID      Time        Date
0     202422005  fd  b0  34  c5    10:44:55  2025-02-24
1     202011158  f2  5d  b0  e5    13:39:44  2025-02-24
2     202411131  fd  fc  f2  c4    13:39:54  2025-02-24
3     202311039  27  1a  8b  5c    13:40:13  2025-02-24
4     202411109  ed  e2  4a  c4    13:40:25  2025-02-24
..          ...               ...       ...         ...
171   202411002  ea  df  b1  de    13:16:35  2025-05-14
172   202411134  c3  70  0c  d9    13:16:43  2025-05-14
173   202411070  43  e1  33  d9    13:16:52  2025-05-14
174   202411143  33  92  17  d9    13:17:11  2025-05-14
175   202411034  7d  2a  35  c5    13:17:18  2025-05-14

[176 rows x 4 columns]

In [17]:
# 초기화 (df 길이에 맞춰야 안전)
df = df_ID.copy()
df['UID'] = [None] * len(df)
df['last update'] = [None] * len(df)

for i in range(len(df_data)):
    student_id = df_data.iloc[i]['Student ID']

    df.loc[df['Student ID'] == student_id, 'UID'] = df_data.iloc[i]['UID']
    df.loc[df['Student ID'] == student_id, 'last update'] = df_data.iloc[i]['Date']

df.to_csv('./data/data.csv', index=False)

In [18]:
df

     Student ID                       Name               UID last update
0     202422005                        김문정  fd  b0  34  c5    2025-02-24
1     202428012                        이건석              None        None
2     202422050                        류연수              None        None
3     202422064                        허대현  8c  8c  53  75    2025-03-12
4     201811006                        강현성  a2  b6  af  e5    2025-02-24
..          ...                        ...               ...         ...
114   202411108                        이서진  0d  6e  28  c5    2025-02-24
115   202411126                        이지원  ad  6a  0b  c5    2025-02-24
116   202462011                        신건우  0d  47  4f  c4    2025-02-24
117   202411045                        김태찬  8d  59  2d  c5    2025-02-24
118   202411183  Syed Muhammad Moosa Kazmi  fc  7b  4e  76    2025-03-10

[119 rows x 4 columns]